{% extends "layout.html" %}

{% block title %}{{pagination.title|title}} - {{site.name}}{% endblock %}


{% block main %}

{% set year = 0 %}
{% for item in pagination.items %}
    {% if item.date.year != year %}
    	{% set year = item.date.year %}
    	<h3><a href="{{item|year_url}}">{{item.date.year}}</a></h3>
    {% endif %}
    <ul class="entry-list">
	    <li class="entry-item">
	    	<a href="{{item|permalink}}">{{item.title}}</a>
	        <time class="updated" datetime="{{item.date|xmldatetime}}">{{item.date.strftime('%b %d, %Y')}}</time>
	    </li>
    </ul>
{% endfor %}


{% if pagination.has_prev or pagination.has_next %}
<nav class="pagination">
    {% if pagination.has_prev %}
    <a class="prev" href="{{ content_url(pagination.root, 'page', pagination.prev_num) }}">«Prev</a>
    {% else %}
    <a class="prev">«Prev</a>
    {% endif %}

    <span class="current">
        {{ pagination.page }} / {{ pagination.pages }}
    </span>

    {% if pagination.has_next %}
    <a class="next" href="{{ content_url(pagination.root, 'page', pagination.next_num) }}">Next»</a>
    {% else %}
    <a class="next">Next»</a>
    {% endif %}
</nav>
{% endif %}
{% endblock %}